<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/" (click)="disableLinks()">
    <img src="assets/images/logo.svg"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="home" (click)="activeLink('home')">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" id="shops" (click)="activeLink('shops')" [ngClass]="{'active': isActive('shops')}">
        <a class="nav-link" routerLink="shops">Tiendas</a>
      </li>
      <li class="nav-item" id="promo" (click)="activeLink('promo')">
        <a class="nav-link" href="#">Promociones</a>
      </li>
    <li class="nav-item" id="about_us" (click)="activeLink('about_us')">
        <a class="nav-link" href="#">Sobre nosotros</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav my-3 my-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="user" src="assets/images/user.svg"/>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Perfil</a>
          <a class="dropdown-item" href="#">Compras</a>
          <a class="dropdown-item" href="#">Métodos de pago</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img class="cart" src="assets/images/cart.svg"/>
        </a>
      </li>
    </ul>
  </div>
</nav>
