<style>
.container {
  display: block;
  height: 500px;
  width: 500px;
  padding: 2em;
}

</style>

<div>
<app-menu></app-menu>
<div class="d-none d-xl-block d-none d-lg-block d-xl-none">
  <br>
  <br>
  <br>
</div>
<div>
  <app-carousel></app-carousel>
</div>
</div>
<br>
<h4 class="text-center">Productos Destacados</h4>
<br>
<app-grid class="text-center d-block d-sm-none text-center" [items]="items" [cols]="2"></app-grid>
<app-grid class="text-center d-none d-sm-block text.center" [items]="items" [cols]="3"></app-grid>
<br>
<h4 class="text-center">Tiendas Destacadas</h4>
<br>
<app-grid class="text-center d-block d-sm-none text-center" [items]="stores" [cols]="2"></app-grid>
<app-grid class="text-center d-none d-sm-block text.center" [items]="stores" [cols]="3"></app-grid>
<app-footer></app-footer>
<router-outlet></router-outlet>
